<h2>My Developer Projects</h2>

<div class="post">

  <p>A few selected projects from my <a href="https://github.com/astamm78" target='_blank'>GitHub</a> repo:</p>

  <h3>grouPACT</h3>

  <p class="web_link"><a href="http://www.groupact.me" target="_blank">www.groupact.me</a> | <a href="https://github.com/dontmitch/group_planning" target="_blank">repo</a></p>

  <p>A database driven Rails web application featuring algorithmic background jobs, ActionMailer, and Stripe OAuth for payment integration. A nine-day, collaborative project for Dev Bootcamp. My two partners and I made heavy use of GitHub for version control, Asana for group planning and task management, and test-driven development with RSpec and Capybara for model and integration tests.</p>

  <p>This application was an attempt to get firm commitments, tied to a financial obligation, from friends when planning various group outings, depending on various conditions set by the invitees.</p>

  <h3>DevSquirrel</h3>

  <p class="web_link"><a href="http://www.devsquirrel.com" target="_blank">www.devsquirrel.com</a> | <a href="https://github.com/astamm78/dev_squirrel" target="_blank">repo</a></p>

  <p>I started this Rails project to have an outlet to practice using the framework as well as the many helper methods it offers. I've also used this project to explore some new Gems I hadn't used before&#8212;such as Figaro, and Sanitize&#8212;as well as the Twitter Gem and API.</p>

  <h3>Andrew's Haikus</h3>

  <p class="web_link"><a href="http://www.andrewshaikus.com" target="_blank">www.andrewshaikus.com</a> | <a href="https://github.com/astamm78/Andrews-Haikus" target="_blank">repo</a></p>

  <p>I built this website with Sinatra to reinforce the concepts of GET and POST http requests. Over time this project grew to use additional Models and I worked with ActiveRecord join tables and many-to-many relationships. There was heavy use of JQuery AJAX. This site also helped me reinforce using sessions for account sign-in and creation.</p>

  <div class="spacer"></div>

</div>