<h2>My Developer Projects</h2>

<p>A few selected projects from my <a href="https://github.com/astamm78" target='_blank'>GitHub</a> repo:</p>

<h3>grouPACT</h3>

<p class="web_link"><a href="http://www.groupact.me" target="_blank">www.groupact.me</a> | <a href="https://github.com/dontmitch/group_planning" target="_blank">repo</a></p>

<p>A database driven Rails web application featuring algorithmic background jobs, ActionMailer, and Stripe OAuth for payment integration. A nine-day, collaborative project for Dev Bootcamp. My two partners and I made heavy use of GitHub for version control, Asana for group planning and task management, and test-driven development with RSpec and Capybara for model and integration tests.</p>

<p>This application was an attempt to get firm commitments, tied to a financial obligation, from friends when planning various group outings, depending on various conditions set by the invitees.</p>

<h3>Senryu Finder</h3>

<p class="web_link"><a href="https://github.com/astamm78/senryu-finder" target="_blank">repo</a></p>

<p>Based on a <a href="http://rubyquiz.strd6.com/" target="_blank">Ruby Quiz</a> challenge, this Ruby program scans a user-supplied text file and returns all of the naturally occuring blocks of text that fall into the 5-7-5 syllable senryu-or haiku-pattern.</p>

<p>I was so happy with how this code turned out that I ended up using some of the methods on my own haiku site, see below, as a validation for when I input new haikus or a user leaves a haiku-formatted comment</p>

<h3>RecordClub</h3>

<p class="web_link"><a href="https://github.com/astamm78/record-club" target="_blank">repo</a></p>

<p>A site built for me and my friends that allows us to privately share our favorite albums amongst the group. I made use of ActionMailer to alert the users of new posts, and to let a user know when it's their week to pick a new album. There's a background rake task to determine who's week it is to pick. Also, I made user of CarrierWave and Amazon S3 to host the files for download.</p>

<h3>Andrew Stamm (photography)</h3>

<p class="web_link"><a href="http://www.andrewstamm.com" target="_blank">www.andrewstamm.com</a> | <a href="https://github.com/astamm78/andrew-stamm-photography" target="_blank">repo</a></p>

<p>I decided to replace my old photography website, built up using WordPress, with a brand new Rails application, using Paperclip for file upload, MiniMagick for image resizing, Figaro for safe API key storage, and the Twitter API to share when new photos are posted.</p>

<h3>DevSquirrel</h3>

<p class="web_link"><a href="http://www.devsquirrel.com" target="_blank">www.devsquirrel.com</a> | <a href="https://github.com/astamm78/dev_squirrel" target="_blank">repo</a></p>

<p>I started this Rails project to have an outlet to practice using the framework as well as the many helper methods it offers. I've also used this project to explore some new Gems I hadn't used before&#8212;such as Figaro, and Sanitize&#8212;as well as the Twitter Gem and API.</p>

<p>With this project I was also able to explore some fun front-end technologies. Mainly, I'm using SASS CSS as well as a responsive design.</p>

<h3>Andrew's Haikus</h3>

<p class="web_link"><a href="http://www.andrewshaikus.com" target="_blank">www.andrewshaikus.com</a> | <a href="https://github.com/astamm78/Andrews-Haikus" target="_blank">repo</a></p>

<p>I built this website with Sinatra to reinforce the concepts of GET and POST http requests. Over time this project grew to use additional Models and I worked with ActiveRecord join tables and many-to-many relationships. There was heavy use of JQuery AJAX. This site also helped me reinforce using sessions for account sign-in and creation.</p>