<h2>DevSquirrel Haikus</h2>

<div class="haiku">
  <p class="line_one"><%= @haiku.line_1 %></p>
  <p class="line_two"><%= @haiku.line_2 %></p>
  <p class="line_three"><%= @haiku.line_3 %></p>

  <p>A random haiku, taken from an earlier web app that I built with the Sinatra framework. Take a look here at <%= link_to "Andrew's Haikus", 'http://www.andrewshaikus.com/', :target => '_blank' %>.</p>
</div>