<h2>About DevSquirrel</h2>

<h3>Hi, I'm Andrew Stamm...</h3>

<p>After finishing an intense program at Dev Bootcamp in Chicago, I'm ready and excited to begin a full-time career in web development.</p>

<p>Over the last nine weeks I've devoted myself to learning Ruby while pair programming. I built multiple database driven <%= link_to 'projects', dev_path %> with Sinatra, Rails and JavaScript. Of course testing along the way, using RSpec and Capybara for both model and integration tests.</p>

<p>These projects include <a href="http://www.andrewshaikus.com" target="_blank">Andrew's Haikus</a>, which I built with Sinatra, this website, which uses the Rails framework, and <a href="http://www.groupact.me" target="_blank">grouPACT</a>, a 9-day collaborative project in Rails that I worked on with two other Dev Bootcamp classmates. Our grouPACT collaboration also made heavy use of GitHub, with over 50 feature branches and over 500 commits.</p>

<h3>Where I'm coming from...</h3>

<p>I have a background in fine arts, I studied painting in college and soon after graduation studied graphic design for a career in publishing as an art director.</p>

<p>I've always had an interest in the Internet, and a strong desire to design web sites led me to learn HTML and CSS fundamentals at Truman College in Chicago. Years of doing freelance web design&#8212;projects such as <a href="http://nmndesigns.com/" target="_blank">NMN Designs</a>, <a href="http://www.evalperiod.com/" target="_blank">EvalPeriod</a>, <a href="http://promandpageantplace.com/" target="_blank">Prom and Pageant Place</a>, and <a href="http://threelettersbrooklyn.com/" target="_blank">Three Letters Brooklyn</a>&#8212;in my spare time only strengthened this desire and led me to be who I am now; a recent grad of Dev Bootcamp who's ready to take the creativity that's served him so well in design and apply it to the world of web development.</p>

<h3>What I'm looking for...</h3>

<p>My ideal workplace would allow me to continue with pair programming and offer an open, collaborative environment as I continue to learn while working in the industry.</p>

<p>I'm excited to explore a variety of projects and expose myself to even more technologies. And I'm eager to continue the education I started at <a href="http://www.devbootcamp.com" target="_blank">Dev Bootcamp</a> out in the workplace.</p>