<ul id="home_nav">
  <li><%= link_to "about", about_path %></li>
  <li><%= link_to "blog", posts_path %></li>
  <li><%= link_to "dev", dev_path %></li>
  <li><a href="">haiku</a></li>
  <li><a href="">photo</a></li>
</ul>