<h2>DevSquirrel Blog</h2>

<% if Post.all.count > 0 %>
  <% @posts.each do |post| %>
    <%= render :partial => "post_display", :locals => {:post => post} %>
  <% end %>
  <%= will_paginate @posts, :previous_label => ("Prev"), :next_label => ("Next") %>
<% else %>
  <p>There are no posts to display</p>
<% end %>