<% if @post %>
  <%= render :partial => "post_display", :locals => {:post => @post} %>
<% else %>
  <h2>Error</h2>
<% end %>

<div class="pagination"><%= link_to "Back to Blog Posts", posts_path %></div>