/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  background: #00aeef url('/assets/background.jpg') top repeat-x;
  height: 100%;
}

body {
  background: url('/assets/squirrel_back.jpg') top center no-repeat;
  min-height: 100%;
}

header h1 a {
  display: block;
  height: 92px;
  position: absolute;
    right: 0;
  text-indent: -999999px;
  width: 770px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 900px;
}

#home_nav {
  padding: 0 0 0 280px;
  position: absolute;
    top: 120px;
}

#home_nav li {
  display: inline-block;
}

#home_nav li a {
  color: #fff000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin: 0 0 0 10px;
  text-decoration: none;
  text-align: right;
}

#home_nav li a:hover,
body.about #home_nav li a.about_link,
body.blog #home_nav li a.blog_link,
body.posts #home_nav li a.blog_link,
body.tags #home_nav li a.blog_link,
body.dev #home_nav li a.dev_link,
body.haiku #home_nav li a.haiku_link,
body.photo #home_nav li a.photo_link {
  color: #ec008c;
}

body.home #home_nav {
  position: absolute;
    right: 0;
    top: 120px;
  text-align: right;
}

body.home #home_nav li {
  display: block;
}

body.home #home_nav li a {
  display: block;
  font-size: 72px;
  line-height: .8em;
  padding: 0 60px 0 0;
}

#content {
  padding: 200px 0 0;
}

.styled_box {
  background: rgba(255, 255, 255, .75);
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: -10px 5px 15px gray;
  padding: 30px;
}

#content h2 {
  color: #ec008c;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin: 0 0 20px;
}

#content label {
  color: gray;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  margin: 0 0 12px;
  width: 100%;
}

input, textarea {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    box-shadow: -2px 2px 4px gray;
    margin: 0 0 10px 0;
    width: 786px;
}

button {
  background: #ec008c;
  border: none;
  box-shadow: -2px 2px 4px gray;
  color: white;
  font-size: 18px;
  padding: 12px;
}

button:hover {
  background: #00aeef;
  cursor: pointer;
}

footer {
  color: white;
  height: 20px;
  margin: 0 auto;
  padding: 40px 0 30px !important;
  text-align: center;
  width: 900px;
}

body.home footer {
  position: fixed;
  bottom: 20px;
}

footer p {
  font-family: sans-serif;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ec008c;
}




















