/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  background: #00aeef url('/assets/background.jpg') top repeat-x;
  height: 100%;
}

body {
  background: url('/assets/squirrel_back.jpg') top center no-repeat;
  min-height: 100%;
}

header h1 a {
  display: block;
  height: 92px;
  position: absolute;
    right: 0;
  text-indent: -999999px;
  width: 770px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 900px;
}

#home_nav {
  padding: 0 0 0 280px;
  position: absolute;
    top: 120px;
}

#home_nav li {
  display: inline-block;
}

#home_nav li a {
  color: #fff000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin: 0 0 0 10px;
  text-decoration: none;
  text-align: right;
}

#home_nav li a:hover,
body.about #home_nav li a.about_link,
body.blog #home_nav li a.blog_link,
body.posts #home_nav li a.blog_link,
body.tags #home_nav li a.blog_link,
body.dev #home_nav li a.dev_link,
body.haiku #home_nav li a.haiku_link,
body.photo #home_nav li a.photo_link {
  color: #ec008c;
}

body.home #home_nav {
  position: absolute;
    right: 0;
    top: 120px;
  text-align: right;
}

body.home #home_nav li {
  display: block;
}

body.home #home_nav li a {
  display: block;
  font-size: 72px;
}

#content {
  padding: 200px 0 0;
}















