@import "compass/reset";

$blue : #00aeef;
$magenta:  #ec008c;
$yellow: #fff000;

html {
  background: $blue url('/assets/background.jpg') top repeat-x;
  height: 100%;
}

body {
  background: url('/assets/squirrel_back.jpg') top center no-repeat;
  min-height: 100%;
}

p {
  color: gray;
  font-family: sans-serif !important;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
  margin: 0 0 30px;
  a {
    color: $magenta;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
}

header {
  h1 {
    a {
      display: block;
      height: 92px;
      position: absolute;
        right: 0;
      text-indent: -999999px;
      width: 770px;
    }
  }
}

.container {
  margin: 0 auto;
  position: relative;
  width: 900px;
}

#home_nav {
  padding: 0 0 0 280px;
  position: absolute;
    top: 120px;
  li {
    display: inline-block;
    a {
      color: $yellow;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 46px;
      margin: 0 0 0 10px;
      text-decoration: none;
      text-align: right;
    }
  }
}

#home_nav li a:hover,
body.about #home_nav li a.about_link,
body.blog #home_nav li a.blog_link,
body.posts #home_nav li a.blog_link,
body.tags #home_nav li a.blog_link,
body.dev #home_nav li a.dev_link,
body.haiku #home_nav li a.haiku_link,
body.photo #home_nav li a.photo_link {
  color: $magenta;
}

body.home #home_nav {
  position: absolute;
    right: 0;
    top: 120px;
  text-align: right;
  li {
    display: block;
    a {
      display: block;
      font-size: 72px;
      line-height: .8em;
      padding: 0 60px 0 0;
    }
  }
}

#content {
  padding: 200px 0 0;
  h2 {
    border-bottom: solid 2px rgba(20, 20, 20, .25);
    color: #ec008c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 68px;
    letter-spacing: -4px;
    line-height: 46px;
    margin: 18px 0 30px;
  }
  label {
    color: gray;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    margin: 0 0 12px;
    width: 100%;
  }
}

.styled_box {
  background: rgba(255, 255, 255, .75);
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: -10px 5px 15px gray;
  padding: 30px;
}

input, textarea {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    box-shadow: -2px 2px 4px gray;
    margin: 0 0 10px 0;
    width: 786px;
}

button {
  background: #ec008c;
  border: none;
  box-shadow: -2px 2px 4px gray;
  color: white;
  font-size: 18px;
  padding: 12px;
  &:hover {
    background: #00aeef;
    cursor: pointer;
  }
}

/* Haiku */

#content p.line_one,
#content p.line_two,
#content p.line_three {
  color: gray;
  font-family: serif !important;
  font-size: 54px;
  line-height: 74px;
  margin: 0px;
  text-align: center;
}

.haiku {
  margin: 0 0 40px;
}

/* Blog Pages */

h3.post_title {
  margin: 0 0 20px;
  a {
    color: #00aeef;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    text-decoration: none;
  }
}

body.tags h3 {
  margin: 0 0 20px;
  a {
    color: #00aeef;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    text-decoration: none;
  }
}

h3.post_title a:hover,
body.tags h3 a:hover {
  color: gray;
}

.post {
  border-bottom: solid 6px rgba(255, 255, 255, .5);
  border-radius: 20px;
  margin: 0 0 50px;
  padding: 10px 40px 20px;
}

p.post_time {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.5em;
}

ul.tags {
  color: gray;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.8em;
  margin: 0 0 20px;
  li {
    display: inline-block;
    margin: 0 20px 0 0;
    a {
      color: #ec008c;
      text-decoration: none;
      &:hover {
        color: gray;
      }
    }
  }
}

.pagination {
  color: white;
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  a {
    color: gray;
    text-decoration: none;
    &:hover {
      color: #00aeef;
    }
  }
}

.pagination a, .pagination .disabled, .pagination .current {
  padding: 0 14px;
}

.pagination .disabled {
  color: white;
}

/* Footer */

footer {
  color: white;
  height: 20px;
  margin: 0 auto;
  padding: 40px 0 30px !important;
  text-align: center;
  width: 900px;
  p {
    font-family: sans-serif;
  }
  a {
    color: white;
    &:hover {
      color: #ec008c;
    }
  }
}

body.home footer {
  position: fixed;
  bottom: 20px;
}

h4.soon {
  color: #00aeef;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 88px;
}