@import "compass/reset";

$cyan: #00aeef;
$dark_blue: darken($cyan, 20%);
$magenta:  #ec008c;
$yellow: #fff000;
$light-gray: #ebebeb;
$med-gray: #959595;
$dark-gray: #646568;

body {
  background: $light-gray;
  color: $dark-gray;
  font: normal 100% sans-serif;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.page {
  margin: 0 auto;
  // max-width: 1100px;
  padding: 0 1.041666666667%;
  width: 90%;
}

h1, h2, h3, h4, h5 {
  color: $med-gray;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: -0.06em;
}

header {
  background: $med-gray;
  height: 82px;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  .page {
    position: relative;
    #logo {
      float: right;
      width: 60%;
      h1 {
        font-size: 7.07875em; // 113.26/16
        text-align: right;
        position: absolute;
          top: -29px;
          right: 2.857142857143%;
        a {
          color: $light-gray;
          text-decoration: none;
          .yeller {
            color: $yellow;
          }
          &:hover {
            color: $yellow;
            .yeller {
              color: $dark_blue;
            }
          }
        }
      }
    }
    #squirrel {
      float: left;
      margin-left: -5%;
      position: absolute;
        left: 4%;
      width: 34%;
      z-index: 100;
      img {
        max-width: 100%;
        margin: 12px 0 0;
      }
    }
  }
}

#nav {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  margin-top: -40px;
  margin-right: 0.857143%;
  width: 60%; // 960/700
  #home_nav {
    text-align: right;
    width: 100%;
    li {
      display: inline-block;
      font-size: 3.125em;
      letter-spacing: -0.06em;
      margin-left: 2.604166666667%;
    }
  }
  #web_links {
    text-align: right;
    li {
      display: inline-block;
      font-size: 1.75em;
      margin-left: 2.04166666667%;
    }
  }
  a {
    color: $med-gray;
    text-decoration: none;
    &:hover {
      color: $dark_blue;
    }
  }
}

body.about #home_nav li a.about_link,
body.dev #home_nav li a.dev_link,
body.blog #home_nav li a.blog_link,
body.posts #home_nav li a.blog_link,
body.single_post #home_nav li a.blog_link,
body.tags #home_nav li a.blog_link,
body.photo #home_nav li a.photo_link,
body.haiku #home_nav li a.haiku_link {
  color: $dark_blue;
}

#content {
  background: $yellow;
  border-radius: 8px;
  float: right;
  margin-bottom: 5%;
  width: 72.916666666667%; // 960/700
  .main_box {
    padding: 2.857142857143%;
    position: relative;
    h2 {
      font-size: 4em;
    }
    h3 {
      font-size: 1.875em;
      margin-bottom: 1.857142857143%;
    }
    p {
      line-height: 1.45em;
      margin-bottom: 1.857142857143%;
      a {
        color: $dark_blue;
        font-weight: bold;
        &:hover {
          color: $dark-gray;
        }
      }
    }
  }
}

#sidebar {
  float: left;
  margin-top: 23%;
  margin-left: 2.083333333333%;
  width: 23.125%;
  h2 {
    font-size: 2em;
    margin: 0 0 12px;
  }
  .widget {
    margin-bottom: 22px;
  }
  ul {
    li {
      font-size: 1.1em;
      margin: 0 0 6%;
      a {
        color: $dark_blue;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $dark-gray;
        }
      }
    }
  }
}

footer {
  color: $dark-gray;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 4%;
  text-align: center;
  width: 100%;
  a {
    color: $dark_blue;
    &:hover {
      color: $dark-gray;
    }
  }
}

input[type=email], input[type=password], input[type=text], textarea {
    border: 5px solid white;
    font-size: 22px;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    box-shadow: -2px 2px 4px gray;
    margin: 0 0 10px 0;
    width: 786px;
}

textarea {
  height: 300px;
}

.regular-checkbox {
  float: left;
  margin-right: 20px;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),
    inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
    top: 4px;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),
    inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),
    inset 0px -15px 10px -12px rgba(0,0,0,0.05),
    inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

button {
  background: #ec008c;
  border: none;
  box-shadow: -2px 2px 4px gray;
  color: white;
  font-size: 18px;
  padding: 12px;
  &:hover {
    background: #00aeef;
    cursor: pointer;
  }
}

input#photo_image {
  color: gray;
  font-size: 18px;
  margin: 0 0 18px;
  width: 100%;
}

/* Admin */

#content #new_content {
  border-bottom: none;
  li {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    margin: 0 20px 0 0;
    a {
      color: $cyan;
      text-decoration: none;
      &:hover {
        color: gray;
      }
    }
  }
}

a.admin_close {
  color: gray;
  text-decoration: none;
}

/* Haiku */

#content p.line_one,
#content p.line_two,
#content p.line_three {
  color: gray;
  font-family: serif !important;
  font-size: 3em;
  font-weight: lighter;
  line-height: 74px;
  margin: 0px;
  text-align: left;
}

.haiku_post {
  margin: 20px 0;
}

/* Blog Pages */

h3, h3.post_title {
  color: $dark-gray;
  font-size: 1.4em;
  margin: 0 0 20px;
  a {
    color: $dark_blue;
    text-decoration: none;
  }
}

body.single_post {
  h3 {
    a {
      pointer-events: none;
      cursor: default;
    }
  }
}

body.tags h3 {
  margin: 0 0 20px;
  a {
    color: $dark_blue;
    font-size: 1.5em;
    text-decoration: none;
  }
}

#content ul.tags {
  border: none;
}

h3.post_title a:hover,
body.tags h3 a:hover {
  color: gray;
}

.post {
  border-bottom: solid 6px rgba(255, 255, 255, .5);
  border-radius: 20px;
  margin: 0 0 50px;
  padding: 10px 0 20px;
}

p.post_time {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.5em;
}

ul.tags {
  color: gray;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.8em;
  margin: 0 0 20px;
  li {
    display: inline-block;
    margin: 0 20px 0 0;
    a {
      color: $dark_blue;
      text-decoration: none;
      &:hover {
        color: gray;
      }
    }
  }
}

.pagination {
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  a {
    color: gray;
    text-decoration: none;
    &:hover {
      color: $dark_blue;
    }
  }
}

.pagination a, .pagination .disabled, .pagination .current {
  padding: 0 14px;
}

.pagination .disabled {
  color: white;
}

/* Photos */

.gallery {
  margin: 18px 0 18px -2%;
  a img {
    border: solid 2px white;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 22%;
    &:hover {
      border: solid 2px $dark_blue;
    }
  }
}

/* Photo Page */

.full_size {
  background: rgba(255,255,255,.95);
  border-radius: 2px;
  box-shadow: 0 0 25px $dark-gray;
  padding: 20px;
  position: fixed;
    top: 30px;
    left: 20%;
  width: 60%;
  z-index: 101;
  img {
    max-width: 100%;
    height: auto;
  }
  a.image_close, a.delete {
    color: gray;
    font-family: 'Source Sans Pro', sans-serif !important;
    position: relative;
      bottom: 8px;
    text-decoration: none;
    &:hover {
      color: $dark_blue;
    }
  }
}

#content {
  ul.popup_nav {
    border-bottom: none;
    margin: 0px;
    li {
      display: inline;
      list-style: none;
      a {
        color: gray;
        font-family: 'Source Sans Pro', sans-serif !important;
        margin: 0 8px 0 0;
        text-decoration: none;
        &:hover {
          color: $dark_blue;
        }
      }
    }
  }
}

p.exif {
  font-size: .9em;
  margin: 0px;
}

/* Breakpoints */

@media screen and (max-width: 1110px) {
  #nav {
    #home_nav {
      li {
        font-size: 2.125em ;
      }
    }
    #web_links {
      li {
        font-size: 1.5em;
      }
    }
  }
  .gallery {
    margin: 18px 0 18px -2%;
    a img {
      margin-left: 2%;
      margin-bottom: 2%;
      width: 30%;
    }
  }
}

@media screen and (max-width: 1010px) {
  header {
    height: 60px;
  }
  h1 {
    font-size: 5em !important;
    top: -19px !important;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    top: -15px !important;
  }
  #squirrel {
    width: 20% !important;
  }
  #logo {
    width: 78% !important;
  }
  #content {
    width: 100%;
  }
  #sidebar {
    float: none;
    width: 100%;
    .widget {
      float: left;
      padding: 0 2.5%;
      width: 45%;
    }
  }
  #nav {
    width: 100%;
    font-size: 90%;
  }
  .full_size {
    background: rgba(255,255,255,.95);
    border-radius: 2px;
    box-shadow: 0 0 25px $dark-gray;
    padding: 20px;
    position: fixed;
      top: 30px;
      left: 0;
    width: 100%;
    img {
      max-width: 90%;
      height: auto;
    }
  }
}

@media screen and (max-width: 737px) {
  h1 {
    font-size: 4em !important;
    margin-top: 12px;
  }
  .gallery {
    margin: 18px 0 18px -2.5%;
    a img {
      margin-left: 2.5%;
      margin-bottom: 2.5%;
      width: 46%;
    }
  }
}

@media screen and (max-width: 480px) {
  #logo {
    width: 100%;
    h1 {
      font-size: 3em !important;
      top: 1px !important;
    }
  }
  #nav {
    #home_nav {
      text-align: center;
      li {
        font-size: 1.6em;
        margin: 0px 3px;
      }
    }
    #web_links {
      text-align: center;
      li {
        font-size: 1em;
        margin: 0px 3px;
      }
    }
  }
  #content {
    .main_box {
      h2 {
        font-size: 2em;
      }
      h3 {
        font-size: 1.4em;
      }
      p {
        font-size: .7em;
      }
    }
    p.line_one,
    p.line_two,
    p.line_three {
      font-family: serif !important;
      font-size: 2em;
      line-height: 2.2em;
    }
  }
  #sidebar {
    h2 {
      font-size: 1em;
    }
    ul {
      li {
        font-size: .7em;
        margin-bottom: 5%;
      }
    }
  }
    .gallery {
    margin: 18px 0 18px;
    a img {
      margin-left: 0px;
      margin-bottom: 0px;
      width: 98%;
    }
  }
}

@media screen and (min-width: 1110px) {
  #content {
    width: 60%;
  }
  #sidebar {
    width: 37%;
    .widget {
      width: 48%;
      float: left;
    }
  }
}