@import "compass/reset";

$cyan: #00aeef;
$dark_blue: darken($cyan, 30%);
$magenta:  #ec008c;
$yellow: #fff000;

html {
  background: $cyan url('/assets/background.jpg') top repeat-x;
  height: 100%;
}

body {
  background: url('/assets/squirrel_back.jpg') top center no-repeat;
  min-height: 100%;
}

p {
  color: gray;
  font-family: sans-serif !important;
  font-size: 18px;
  font-weight: lighter;
  line-height: 28px;
  margin: 0 0 20px;
  a {
    color: $magenta;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $cyan;
    }
  }
}

strong {
  font-weight: bold;
}

header {
  h1 {
    a {
      display: block;
      height: 92px;
      position: absolute;
        right: 0;
      text-indent: -999999px;
      width: 770px;
    }
  }
}

.container {
  margin: 0 auto;
  position: relative;
  width: 900px;
}

.spacer {
  clear: both;
  height: 40px;
}

.hidden {
  visibility: hidden;
}

#home_nav {
  padding: 0 0 0 280px;
  position: absolute;
    top: 120px;
  li {
    display: inline-block;
    a {
      color: $yellow;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 46px;
      margin: 0 0 0 10px;
      text-decoration: none;
      text-align: right;
    }
  }
}

#home_nav li a:hover,
body.about #home_nav li a.about_link,
body.blog #home_nav li a.blog_link,
body.posts #home_nav li a.blog_link,
body.tags #home_nav li a.blog_link,
body.dev #home_nav li a.dev_link,
body.haiku #home_nav li a.haiku_link,
body.photo #home_nav li a.photo_link {
  color: $magenta;
  text-shadow: -1px 1px 0 white;
}

#web_links {
  position: absolute;
    right: 4px;
    top: 168px;
  li {
    display: inline-block;
    a {
    color: $yellow;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    margin: 0 18px 0 0;
    text-decoration: none;
      &:hover {
        color: $magenta;
      }
    }
  }
}

/* About Page Links */

body.about {
  ul {
    li {
      display: inline-block;
      a {
        color: $magenta;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        margin: 0 18px 0 0;
        text-decoration: none;
        &:hover {
          color: $cyan;
        }
      }
    }
  }
}

#content {
  padding: 200px 0 0;
  h2 {
    border-bottom: solid 2px rgba(20, 20, 20, .25);
    color: #ec008c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 68px;
    letter-spacing: -4px;
    line-height: 46px;
    margin: 18px 0 30px;
  }
  label {
    color: gray;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    margin: 0 0 12px;
    width: 100%;
  }
  h4 {
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    margin: 0 0 12px;
  }
  ul {
    border-bottom: solid 1px gray;
    margin: 0 0 36px;
  }
}

.styled_box {
  background: rgba(255, 255, 255, .75);
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 0 0 50px $dark_blue;
  padding: 30px;
}

input[type=email], input[type=password], input[type=text], textarea {
    border: 5px solid white;
    font-size: 22px;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    box-shadow: -2px 2px 4px gray;
    margin: 0 0 10px 0;
    width: 786px;
}

textarea {
  height: 300px;
}

.regular-checkbox {
  float: left;
  margin-right: 20px;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),
    inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
    top: 4px;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),
    inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),
    inset 0px -15px 10px -12px rgba(0,0,0,0.05),
    inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

button {
  background: #ec008c;
  border: none;
  box-shadow: -2px 2px 4px gray;
  color: white;
  font-size: 18px;
  padding: 12px;
  &:hover {
    background: #00aeef;
    cursor: pointer;
  }
}

input#photo_image {
  color: gray;
  font-size: 18px;
  margin: 0 0 18px;
  width: 100%;
}

/* Admin */

#content #new_content {
  border-bottom: none;
  li {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    margin: 0 20px 0 0;
    a {
      color: $cyan;
      text-decoration: none;
      &:hover {
        color: gray;
      }
    }
  }
}

a.admin_close {
  color: gray;
  text-decoration: none;
}

/* Haiku */

#content p.line_one,
#content p.line_two,
#content p.line_three {
  color: gray;
  font-family: serif !important;
  font-size: 54px;
  line-height: 74px;
  margin: 0px;
  text-align: center;
}

.haiku {
  margin: 0 0 40px;
}

/* Blog Pages */

h3, h3.post_title {
  color: #00aeef;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin: 0 0 20px;
  a {
    color: $cyan;
    text-decoration: none;
  }
}

body.single_post {
  h3 {
    a {
      pointer-events: none;
      cursor: default;
    }
  }
}

body.tags h3 {
  margin: 0 0 20px;
  a {
    color: #00aeef;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    text-decoration: none;
  }
}

#content ul.tags {
  border: none;
}

h3.post_title a:hover,
body.tags h3 a:hover {
  color: gray;
}

.post {
  border-bottom: solid 6px rgba(255, 255, 255, .5);
  border-radius: 20px;
  margin: 0 0 50px;
  padding: 10px 40px 20px;
}

p.post_time {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.5em;
}

ul.tags {
  color: gray;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.8em;
  margin: 0 0 20px;
  li {
    display: inline-block;
    margin: 0 20px 0 0;
    a {
      color: #ec008c;
      text-decoration: none;
      &:hover {
        color: gray;
      }
    }
  }
}

.pagination {
  color: white;
  font-family: sans-serif;
  font-size: 1.6em;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  a {
    color: gray;
    text-decoration: none;
    &:hover {
      color: #00aeef;
    }
  }
}

.pagination a, .pagination .disabled, .pagination .current {
  padding: 0 14px;
}

.pagination .disabled {
  color: white;
}

/* Photo Page */

body.photo {
  a {
    img {
      border: solid 2px white;
      margin: 2px 1px;
      &:hover {
        border: solid 2px $magenta;
      }
    }
  }
}

.full_size {
  background: rgba(255,255,255,.85);
  border-radius: 8px;
  box-shadow: 0 0 25px $dark_blue;
  padding: 20px;
  position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -480px;
  width: 920px;
  a.image_close {
    color: $magenta;
    font-family: 'Source Sans Pro', sans-serif !important;
    position: relative;
      bottom: 8px;
    text-decoration: none;
  }
}

.gallery {
  margin: 0 0 20px;
}

#content {
  ul.popup_nav {
    border-bottom: none;
    margin: 0px;
    li {
      display: inline-block;
      list-style: none;
      a {
        color: $magenta;
        font-family: 'Source Sans Pro', sans-serif !important;
        margin: 0 8px 0 0;
        text-decoration: none;
      }
    }
  }
}

p.exif {
  font-size: .9em;
  margin: 0px;
  text-indent: 8px;
}

/* Footer */

footer {
  color: white;
  height: 20px;
  margin: 0 auto;
  padding: 40px 0 60px !important;
  text-align: center;
  width: 900px;
  p {
    color: white;
    font-family: sans-serif;
  }
  a {
    color: $yellow;
    &:hover {
      color: $magenta;
    }
  }
}

h4.soon {
  color: #00aeef;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 88px;
}