<header>
  <div class="page">
    <div id="squirrel">
      <%= image_tag '/assets/Squirrel-Boy-6.png' %>
    </div>

    <div id="logo">
      <h1>
        <%= link_to root_path, :class => "home_link jlink", :data => "about" do %>
          Dev<span class="yeller">Squirrel</span>
        <% end %>
      </h1>
    </div>
  </div>

  <div class="clear"></div>
</header>