<div id="sidebar">
  <div class="widget">
    <% if recent_posts %>
      <h2>Recent Posts:</h2>
      <% recent_posts.each do |post| %>
        <p><%= link_to post.title, post_path(post.id) %></p>
      <% end %>
    <% end %>
  </div>

  <div class="widget">
    <h2>GitHub Repos:</h2>
    <ul>
      <li><a href="https://github.com/dontmitch/group_planning">grouPACT</a></li>
      <li><a href="https://github.com/astamm78/record-club">RecordClub</a></li>
      <li><a href="https://github.com/astamm78/andrew-stamm-photography">Andrew Stamm (photography)</a></li>
      <li><a href="https://github.com/astamm78/senryu-finder">Senryu Finder</a></li>
      <li><a href="https://github.com/astamm78/Andrews-Haikus">Andrew's Haikus</a></li>
    </ul>
  </div>
</div>

<div class="clear"></div>