<div id="sidebar">
  <div class="widget">
    <% if recent_posts %>
      <h2>Recent Posts:</h2>
      <% recent_posts.each do |post| %>
        <p><%= link_to post.title, post_path(post.id) %></p>
      <% end %>
    <% end %>
  </div>

  <div class="widget">
    <% if recent_tweets %>
      <h2>Recent Tweets:</h2>
      <% recent_tweets.each do |tweet| %>
        <p><%= link_to tweet.tweet, 'http://twitter.com/astamm78', :target => '_blank' %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="clear"></div>